body {
    font-family: Times New Roman;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #FFFFFF 61%, #000000 39%);
}

.container {
    max-width: 100%; /* Изменено с 1200px auto на 100% для адаптации к мобильным устройствам */
    margin: 10px auto; /* Изменено с 20px на 10px для уменьшения отступа на мобильных устройствах */
    padding: 0 10px; /* Изменено с 0 20px на 0 10px для уменьшения отступа на мобильных устройствах */
    display: flex;
    justify-content: center; /* Изменено с space-between на center для центрирования на мобильных устройствах */
    align-items: center;
    flex-wrap: wrap; 
}

.image-container {
    flex-basis: 100%; /* Изменено с calc(50% - 20px) на 100% для полной ширины на мобильных устройствах */
    max-width: 100%; /* Изменено с 400px на 100% для полной ширины на мобильных устройствах */
    margin-bottom: 10px; /* Изменено с 20px на 10px для уменьшения отступа на мобильных устройствах */
}

.swiper-button-prev, .swiper-button-next {
    margin-top: -70px; /* Изменено с -140px на -70px для лучшей видимости на мобильных устройствах */
}

h1 {
    text-align: center;
    margin-bottom: 10px; /* Изменено с 15px на 10px для уменьшения отступа на мобильных устройствах */
}

h2, p {
    text-align: center; /* Изменено с left на center для центрирования на мобильных устройствах */
    margin-bottom: 10px; /* Изменено с 15px на 10px для уменьшения отступа на мобильных устройствах */
}

h3 {
    text-align: center;
    margin-bottom: 5px;
    color: grey;
}

.swiper-container {
    height: 300px; /* Изменено с 400px на 300px для уменьшения высоты слайдера на мобильных устройствах */
}

@media screen and (max-width: 768px) {
    .swiper-button-prev, .swiper-button-next {
        margin-left: 10px;
        margin-right: 10px;
    }
}