.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    }

.form-group {
    margin-bottom: 15px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#result-pc {
    padding: 15px; /* Увеличение внутреннего отступа */
    border: 2px solid #007bff; /* Изменение стиля границы */
    border-radius: 10px; /* Увеличение радиуса скругления */
    margin-top: 5px; /* Добавление отступа сверху */
    box-sizing: border-box; /* Учесть толщину границы и отступов в общую ширину и высоту элемента */
    width: 250px; /* Установка фиксированной ширины */
    height: 150px; 
    max-width: none;
    max-height: none;
}

#result-mobile {
    padding: 15px;
    border: 2px solid #007bff;
    border-radius: 10px;
    margin-top: 5px;
    box-sizing: border-box;
    min-width: 100%;
    min-height: 100%;
    display: inline-block; /* Изменение отображения на inline-block */
    max-width: 100%; /* Максимальная ширина 100% от родительского контейнера */
}

@media screen and (min-width: 768px) {
    .header-pc {
        display: block;
    }
    .header-mobile {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .header-pc {
        display: none;
    }
    .header-mobile {
        display: block;
    }
}